/* Kalenderausgabe in HTML */
table.calendar {
    border: 2px solid #000000;
    border-collapse: collapse;
    margin-bottom: 30px;
}

table.calendar caption {
    margin-bottom: 10px;
    font-size: 16pt;
    font-weight: bold;
}

table.calendar thead th {
    border: 1px solid #000000;
    border-bottom-width: 2px;
    background: #c0c0c0;
    text-align: center;
    font-weight: bold;
}

table.calendar tbody td {
    border: 1px solid #000000;
    padding-left: 4px;
    padding-right: 4px;
    width: 120px;
    vertical-align: top;
}

table.calendar .week {
    border-right-width: 2px;
    background: #c0c0c0;
    width: 25px;
    text-align: center;
    font-weight: bold;
}

table.calendar tbody td {
    height: 90px;
}

table.calendar td.other_month {
    background: #ebebeb;
}

table.calendar div.day {
    float: left;
    left: 0px;
    top: 0px;
    font-size: 14pt;
    font-weight: bold;
    color: #a0a0a0;
}

table.calendar div.exam {
    margin-top: 10px;
}

table.calendar div.exam div.first-time {
    margin-top: -5px;
    margin-bottom: 5px;
    width: 100%;
    text-align: right; 
    font-weight: bold;
}

table.calendar div.exam div.time {
    width: 100%;
    text-align: center; 
    font-weight: bold;
}

table.calendar div.exam div.num div.colorbox {
    float: left;
    margin-top: 2pt;
    margin-right: 2pt;
    width: 8pt;
    height: 8pt;
    font-size: 0px;
}

table.calendar div.exam div.title {
    
}

table.calendar div.exam div.type {
    font-style: italic;
}

table.calendar div.exam div.room {
    width: 100%;
    font-size: 8pt;
}
